.thumbnail {
    width:100px;
    height: 100px;
    background-size: cover;
}
.gallery a {
    float: left;
    margin: 5px;
}   
.height100 {
    height:100%
}

#parent {
    display: table;
    height:100%
}

#child {
  display: table-cell;
  vertical-align: middle;
 }
.blue {
    background-color:blue
}
.working {
    height: 100%;
    width:100%;
}
.white {
    color: white;
}