.thumbnail {
    width:100px;
    height: 100px;
    background-size: cover;
}
.gallery a {
    float: left;
    margin: 5px;
}   
.height100 {
    height:100%
}

#parent {
    display: table;
    height:100%;
    width:100%;
}

#child {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
 }
.green {
    background-color:green
}
.working {
    height: 100%;
    width:100%;
}
.white {
    background-color: white
}
.trans {
    opacity: 0.5;
}
.opac {
    opacity: 1;
}
.nopad {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
}
.transwhite {
    background: rgba(255,255,255,0.6)
}
.pad { 
    margin-left: 5px;
    margin-right: 5px;
}
.background {
    background: linear-gradient(green, white);
    background-repeat: no-repeat;
}
.backgroundimg{
    background-image: url('/images/gallery/large/3bedroomlodge3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#timer {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}
.headings {
    text-align: center;
}




.wrapper { 
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  
  -webkit-animation: rainbow 1s ease infinite;
  -z-animation: rainbow 1s ease infinite;
  -o-animation: rainbow 1s ease infinite;
    animation: rainbow 1s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }